<?php

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'indentation_type' => true,
        'concat_space' => [
            'spacing' => 'one'
        ]
    ])
    ->setIndent("\t");